.title-profile {
    margin-top: 10px;
}

.title-profile p
{
    font-style: bold;
    /* font-weight: 800; */
    font-size: 54px;
    line-height: 54px;
    text-align: center;
    color: #ea2f2f;
    margin-bottom: 30px;
}

.success {
    margin: 0 0 0 0;
    color: rgb(18, 192, 3);
}

#chgpwd-submit {
    margin-top: 10px;
}