@import url('https://fonts.googleapis.com/css?family=Open Sans');

body, html {
    height: 100%;
}

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0; 
}

.bg-image {
    background-image: url('../images/photo-1606787366850-de6330128bfc.jpg');
    filter: blur(8px);
    -webkit-filter: blur(8px);
    height: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .form-container {
    background-color: white;
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 60%;
    padding: 20px;
    border-radius: 8px;
}

.logo-register {
    width: 200px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.title p
{
    font-style: bold;
    /* font-weight: 800; */
    font-size: 54px;
    line-height: 54px;
    text-align: center;
    color: #ea2f2f;
    margin-bottom: 30px;
}

#register-form {
    margin-top: 20px;
}

input[type=email], input[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

label {
    color: black;
}

.btn-green {
    border: none;
    background-color: #8aff86;
    padding: 14px 28px;
    font-size: 16px;
    font-weight: bolder;
    cursor: pointer;
    display: inline-block;
    border-radius: 8px;
    border-style: solid;
    border-width: 5px;
    border-color: #8aff86;
    width: 200px;
    height: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
}

 .btn-green:hover {
    border-color: #38ff7a;
 }

 .btn-red {
    border: none;
    background-color: #ff8686;
    padding: 14px 28px;
    font-size: 16px;
    font-weight: bolder;
    cursor: pointer;
    display: inline-block;
    border-radius: 8px;
    border-style: solid;
    border-width: 5px;
    border-color: #ff8686;
    width: 200px;
    height: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
}

 .btn-red:hover {
    border-color: #ff3838;
 }

 .btn-left {
    float: left;
 }

 .btn-right {
    float: right;
}

.btn-group {
    display: block;
    width: 100%;
    height: 85px;
}

.login-link {
    width: 100%;
    height: 25px;
    margin-top: 15px;
}

.text-left {
    float: left;
}

.text-right {
    float: right;
}
