body {
    font-family: 'Ubuntu', sans-serif;
}


#section-1 {
    margin: 25px auto 25px auto;
    /* margin: top | right | bottom | left  */
}

#btn-signin {
    margin: auto 10px auto 10px;
}

.img-fluid {
    width: 100%;
}

#about-us {
    padding-top: 20px;
}

.btn-group {
    width: 50%;
}

.card {
    width: 18.5rem;
    margin: 15px auto 15px auto;
    /* margin: top | right | bottom | left  */
}

#menu-nav {
    margin: 15px auto 15px auto;
    /* margin: top | right | bottom | left  */
}