* {
    font-family: 'Ubuntu', sans-serif;
}


#section-1 {
    margin: 100px auto 25px auto;
    /* margin: top | right | bottom | left  */
}

#btn-signin {
    margin: auto 10px auto 10px;
}

.img-fluid {
    width: 100%;
}

#about-us {
    padding-top: 20px;
}

.btn-group {
    width: 50%;
}

#spacer-1 {
    margin-top: 70px;
}

#spacer-2 {
    margin-top: 95px;
}

.menu-card {
    max-width: 18rem;
    margin: 5px auto 5px auto;  
}

#menu-nav {
    margin: 14px auto 20px auto;
    width: 18.5rem;

    /* margin: top | right | bottom | left  */
}

#order-list {
    width: 18.5rem;
    /* margin: auto 12px auto 12px; */
}

#details {
    width: 100%;
    margin: 15px auto 15px auto;
    /* margin: top | right | bottom | left  */
}

#customerRemarks {
    height:100px;
    resize: none;
}

#order-bg {    
    max-width: 700px;
}

.order-btn {
    margin-top: 15px;
    width: 115px;
}

.order-btn1 {
    margin-top: 10px;
    width: 110px;
}

#right-order-btn {
    float: right;
}

#left-order-btn {
    float: left;
}

#menu-rightbar-container {
    display: block;
    float: right;
    width: 300px;
}

.price-font {
    font-style: italic;
    color: blue;
}


